# Section G - Working with Databasese

Feedback: https://forms.gle/Le3RAsMEcYqEyswEA

**Topics**:
* Sqlite
  * Pandas DB Functions
* Create Table
* Drop Table
* Update Rows

There are

## Mathematical Operations
These are the basic mathematical functoins that are included in python without importing any libraries.

In [ ]:
import pandas as pd
import sqlite3
iris_web = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

print(iris_web.head())

# Save the DataFrame to a SQLite database
with sqlite3.connect('iris_web.db') as conn:
    iris_web.to_sql('iris', conn, if_exists='replace', index=False)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
import pandas as pd

with sqlite3.connect('iris_web.db') as conn:
    query = "SELECT * FROM iris"
    df = pd.read_sql_query(query, conn)

print(df.head())

# Without the "with" statemen:
# conn = sqlite3.connect('your_database.db')
# query = "SELECT * FROM your_table"
# df = pd.read_sql_query(query, conn)
# conn.close()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
# Without pandas, query the database directly
with sqlite3.connect('iris_web.db') as conn:
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM iris")
    rows = cursor.fetchall()
for row in rows[:10]:
    print(row)

(5.1, 3.5, 1.4, 0.2, 'setosa')
(4.9, 3.0, 1.4, 0.2, 'setosa')
(4.7, 3.2, 1.3, 0.2, 'setosa')
(4.6, 3.1, 1.5, 0.2, 'setosa')
(5.0, 3.6, 1.4, 0.2, 'setosa')
(5.4, 3.9, 1.7, 0.4, 'setosa')
(4.6, 3.4, 1.4, 0.3, 'setosa')
(5.0, 3.4, 1.5, 0.2, 'setosa')
(4.4, 2.9, 1.4, 0.2, 'setosa')
(4.9, 3.1, 1.5, 0.1, 'setosa')

In [10]:
# Update 2nd row in the df and update it in the database
df.loc[1, 'sepal_length'] = 99999
df.head()

with sqlite3.connect('iris_web.db') as conn:
    df.to_sql('iris', conn, if_exists='replace', index=False)
# Verify the update
with sqlite3.connect('iris_web.db') as conn:
    query = "SELECT * FROM iris"
    updated_df = pd.read_sql_query(query, conn)